header{
    position: relative;
    width: 98%;
    bottom: 0;
    margin: 0;
    padding: 1%;
}
header ul{
    float:right;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 25%;
}
header ul li{
    padding: 0 3%;
    display: inline-block;
    width: 35%;
}
header ul li a img{
    width: 100%;
}
.clearfix{
    clear:both;
}
header .logo{
    margin: 5%;
    display: inline;
}
header .logo a img{
    width:30%;
}
footer{
    border-top: 1px solid rgba(0, 0, 0, 0.21);
    width: 96%;
    margin: 2% 0 1%;
    padding: 2%;
}
footer p{
    width: 20%;
    margin: 0 auto;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    color: #222;
    font-weight: bold;
}
.logout{
    margin: 0;
    float: right;
    width: 18%;
    font-size: 10px;
}
.logout button{
    width:47%;
    font-family: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    margin: 5% 1% 0%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #72AF4C;
    color: #222;
    overflow: hidden;
    font-size: 14px;
}
.logout button:after{
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 101%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #72AF4C;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.logout button:active,
.logout button:hover{
    color: rgba(11, 7, 5, 0.94);
}
.logout button:hover:after{
    height: 75%;
    opacity: 1;
}
.logout button:active:after{
    height: 130%;
    opacity: 1;
}
